body
{
	background: plum;
}

	.login_div1 , .login_div2
	{
		background: plum;
		padding: 10px;
		float: none;
		border-radius: 15px;

	}

    #loginbutton{
        text-align:center;
    }

#player1_name 
{
	display: inline-block;
	margin-left: 20px;
}

#player2_name{
    display: inline-block;
    margin-left: 20px;
}

